.email-form form{
    display: flex;
    flex-direction: column;
align-items:start;

}

.email-form{
    height: 30%;
    width: 100%;
    margin-left: 2%;
    padding: 2%;
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.input-div input{
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
    border: 1px solid #354f52;
    width: 50vw;
}
.input-div textarea{
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
    border: 1px solid #354f52;
    width: 50vw;
}